@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');


.titulo-formulario {
    font-family: "Medula One", cursive;
    color: #487228;
    font-size: 70px;
}
@media (max-width: 500px) {
    .titulo-formulario {
        font-size: 50px;
        text-align: center;
    }
}