@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo-landing {
    font-family: "Medula One", cursive;
    color: #487228;
    font-size: 80px;
}
.conteudo-capa{
    width:60%;
}
.conteudo-capa h4{
    font-size:20px;
}
.container-capa{
    display: flex;
    justify-content: space-between;
}
.imagem-capa{
    width: 500px;
}
.footer{
    width: 100%;
    justify-content:center;
    bottom: 0;
    position: absolute;

}
.link-nav {
    color: #487228;
    text-decoration: none;
}
.link-nav:hover{
    color: #1f4106;
}
@media (max-width: 1100px){
    .container-capa{
        flex-direction: column-reverse;
        align-items: center;
    }
    .imagem-capa{
        width:300px;
        margin-top: 20px;
    }
    .conteudo-capa{
        width: 90%;
    }
    .titulo-landing{
        font-size: 40px;
    }
    .footer{
        position: relative;
    }
    .container-botao{
        display: flex;
        justify-content: center;
    }
} 