.pessoas-style{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pessoas{
    width: 200px;
}
.img-redes{
    width:40px;
}
.card {
    border: none;
    width:200px;
}
.contatos-cards{
    display: flex;
    justify-content: space-around;
}
.link-nav {
    color: #487228;
    text-decoration: none;
}
.link-nav:hover{
    color: #1f4106;
}
@media (max-width: 1000px){
    .contatos-cards{
        flex-direction: column;
        align-items: center;
    }
}
