@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
.titulo-login {
    font-family: "Medula One", cursive;
    color: #487228;
    font-size: 70px;
}
.input-email {
    width:250px;
}
.link-nav {
    color: #487228;
    text-decoration: none;
}
.link-nav:hover{
    color: #1f4106;
}
@media (max-width: 500px) {
    .titulo-login {
        font-size: 50px;
        text-align: center;
    }
}