.input-palavras {
    width: 300px !important;
}
.link-nav {
    color: #487228;
    text-decoration: none;
}
.link-nav:hover{
    color: #1f4106;
}
@media (max-width: 500px) {
    .titulo-inserir-palavra {
        font-size: 50px;
        text-align: center;
    }
    
}

@media (max-width: 1400px) {
    .footer{
        bottom: auto;
    }
    
}