@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
.titulo-sobre {
    font-family: "Medula One", cursive;
    color: #487228;
    font-size: 80px;
}
.link-nav {
    color: #487228;
    text-decoration: none;
}
.link-nav:hover{
    color: #1f4106;
}

@media (max-width: 1100px){
    .container-capa{
        flex-direction: column-reverse;
        align-items: center;
    }
    .conteudo-capa{
        width: 90%;
    }
    .titulo-sobre{
        font-size: 40px;
    }
    .container-botao{
        display: flex;
        justify-content: center;
    }
} 